body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* header */
.bg {
    background-color: #363f4d;
    color: rgb(247, 244, 244);
    font-weight: 600;
}

.text-hover:hover {
    transition: 0.5s color;
    color: rgb(235, 62, 50);
    cursor: pointer;
}

.logo {
    width: 130px;
    height: auto;
}

.search-buttom {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: white;
    background-color: rgb(235, 62, 50);
    border-radius: 2px;
}

.menu-buttom {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: rgb(235, 62, 50);
    border: 2px solid rgb(235, 62, 50);
    border-radius: 2px;
}

.orange-buttom {
    background-color: rgb(235, 62, 50);
    color: white;
    border: none;
    padding: 10px;
}
.form-control{
    box-shadow: none !important;
    outline: none !important;
}
.search-input {
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 1px solid gray;
}

.search-input input {
    border-radius: 0;
    box-shadow: none !important;
    border-color: gray !important;
}

.menu-list a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}


.sticky-top {
    position: -webkit-sticky !important;
}

/* footer */
footer {
    color: gray;
}

.footer-icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(235, 62, 50);
    color: #eb3e32;
    padding: 5px;
    margin-bottom: 10px;
}
/* main */
.gray1 {
    font-weight: 500;
    color: rgb(116, 116, 116);
}
.red1 {
    color: rgb(235,62,50);
}
.red1:hover {
    color: black;
}
.image1 {
    width: 100%;
    height: auto;
   
}
.gray2 {
    color: rgb(116, 116, 116);
}
.gray3 {
    color: rgb(116, 116, 116);
    width: 110px;
    height: 28px;
    border-radius: 20px;
    background-color: rgba(174, 174, 174, 0.639);
    text-align: center;
}
.gray4 {
    color: rgb(116, 116, 116);
    width: 75px;
    height: 28px;
    border-radius: 30px;
    background-color: rgba(174, 174, 174, 0.639);
    text-align: center;
}
.prev{
    text-decoration: none;
    color: white;
}
.post:hover {
    background-color: rgb(54, 54, 72);
}
.post {
    height: 50px;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    padding-top: 12px;
    background-color: rgb(43, 43, 58);
}

.card-body a {
    text-decoration: none;
    color: black;
}
.card-body a:hover {
    color: rgb(235,62,50);
}

.gray5 {
    color: rgb(116, 116, 116);
}
.gray5 i {
    padding-left: 15px;
    padding-top: 5px;
    font-size: 18px;
}
.gray5 i:hover {
    color: rgb(235,62,50);
}

.post1 {
    border-radius: 50px;
    background-color: rgb(51, 51, 73);
    border: none;
    width: 170px;
    height: 50px;
}
.post1:hover {
    opacity: 0.95;
}
