body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* header */
.bg {
    background-color: #363f4d;
    color: rgb(247, 244, 244);
    font-weight: 600;
}

.text-hover:hover {
    transition: 0.5s color;
    color: rgb(235, 62, 50);
    cursor: pointer;
}

.logo {
    width: 130px;
    height: auto;
}

.search-buttom {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: white;
    background-color: rgb(235, 62, 50);
    border-radius: 2px;
}

.menu-buttom {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: rgb(235, 62, 50);
    border: 2px solid rgb(235, 62, 50);
    border-radius: 2px;
}

.orange-buttom {
    background-color: rgb(235, 62, 50);
    color: white;
    border: none;
    padding: 10px;
}
.form-control{
    box-shadow: none !important;
    outline: none !important;
}
.search-input {
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 1px solid gray;
}

.search-input input {
    border-radius: 0;
    box-shadow: none !important;
    border-color: gray !important;
}

.menu-list a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}


.sticky-top {
    position: -webkit-sticky !important;
}

/* footer */
footer {
    color: gray;
}

.footer-icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(235, 62, 50);
    color: #eb3e32;
    padding: 5px;
    margin-bottom: 10px;
}
/* main */
.p1 , .h1{
    color: white;
}
    .btn2{
        text-align: center;
        justify-content: center;
        color: white; 
        background-color: #363f4e; 
        border: none;
        
        width: 100px;
        height: 50px;
        border-radius: 10px;
    }
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
        transform: scale(.7) !important;
      }
      .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
      }
    .span1{
        background-color: rgb(235,62,50);
        color: white;
        width: 40px;
        height: 100%;
        text-align: center;
        align-items: center;
        font-size: 20px;
        padding: 8px;
        margin-right: 10px;
    }
    .accordion-button{
        padding: 0;
        height: 40px;
        padding-right: 10px;
        border:  1px solid lightgray;
    }
    .accordion-item{
        border-radius: 0 !important;
        border:  1px solid lightgray;
    }
    .accordion-item:first-of-type .accordion-button {
        border-radius: 0;
    }
    .accordion-item:last-of-type .accordion-button.collapsed {
        border-radius: 0;
    }
    .btn1{
        border-radius: 30px;
        border: none;
        color: white;
       background-color:rgb(235,62,50); 
       height: 40px;
        width: 100px;
    }